<aside class="sidebar">

    <div class="logo">

        Expense Tracker

    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'dashboard' %}">

                <i class="bi bi-grid"></i>

                Dashboard

            </a>
        </li>

        
        <li>
            <a href="{% url 'wallet_list' %}">

                <i class="bi bi-wallet"></i>

                Wallets
            </a>
        </li>

        <li>
            <a href="{% url 'transaction_list' %}">

                <i class="bi bi-currency-exchange"></i>

                Transactions

            </a>
        </li>

        <li>
            <a href="{% url 'category_list' %}">

                <i class="bi bi-tags"></i>

                Categories

            </a>
        </li>

        <li>
            <a href="#">

                <i class="bi bi-graph-up"></i>

                Reports

            </a>
        </li>

        <li>

        </li>

    </ul>

</aside>